* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.fixed-container {
    width: 1200px;
    margin: 0 auto;
}

/* Top Navbar start */
.header-background {
    background-color: #111111;
    height: 108px;
    position: relative;
}

.header-icon {
    float: left;
    width: 30%;
}

.header-icon a {
    display: block;
    margin: 19px 0 15px 0;
}

.float-clear {
    content: "";
    clear: both;
    display: table;
}

.nav-image {
    width: 75px;
    height: 68px;
}

.move-left {
    margin-left: -45px;
    font-weight: 700;
}

.set-font-size {
    font-size: 23px;
    color: #ffffff;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.set-text-grey {
    color: #8f8f8f !important;
}

a {
    text-decoration: none;
}

.header-options {
    width: 70%;
    float: left;
}

.link-style {
    margin: 55px 0 0 0;
    padding: 0;
}

.link-style li {
    list-style-type: none;
    display: inline-block;
}

.link-style a {
    display: inline-block;
    width: 126px;
    text-align: center;
    color: #8f8f8f;
    font-size: 16px;
    padding: 17px 0px;
    text-transform: uppercase;
}

.link-style a:hover {
    background-color: rgb(241, 99, 66);
    color: #ffffff;
    transition: 0.5s;
}

.header-contact {
    position: absolute;
    bottom: 0;
    right: 0;
}

.header-contact ul {
    padding: 0;
    margin: 0;
}

.header-contact li {
    list-style-type: none;
}

.header-contact a {
    display: inline-block;
    background: url(picture/tel-no.png)no-repeat;
    background-size: 16px;
    background-position-x: 20px;
    background-position-y: 14px;
    font-weight: bold;
    color: #ffffff;
    font-size: 17px;
    background-color: #36ced0;
    padding: 19px 15px 16px 38px;
}

/* banner start */
.banner-background {
    background: url(picture/background.jpg)no-repeat;
    background-size: cover;
    min-height: 505px;
    margin-bottom: 135px;
}

.banner-info {
    display: inline-block;
    margin: 186px 0 0 0;
    padding: 8px 63px 66px 35px;
    background-color: rgba(255, 255, 255, 0.938);
    position: relative;
}

.banner-info h2 {
    text-transform: uppercase;

}

.banner-arrow {
    position: absolute;
    bottom: 13px;
    right: 2px;
    transform: scale(0.5, 1.2);
}

.banner-arrow i {
    font-size: 34px;
    font-weight: 100;
    cursor: pointer;
}

.left-arrow {
    margin-right: 53px;
}

/* Our Details */
.text-align-center {
    text-align: center;
}

.set-padding {
    padding: 0px 25px 0px;
    font-size: 18px;
}

.adjust-heading {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.right-navbar {
    position: absolute;
    right: 0px;
    top: 613px;
}

.right-navbar ul {
    margin: 0;
    padding: 0;
}

.right-navbar li {
    list-style-type: none;
}

.right-navbar-top {
    margin-bottom: 60px !important;
}

.right-navbar a {
    display: block;
    background: url(picture/side-menu-list-style.png)no-repeat;
    background-size: 5px;
    background-position-x: 25px;
    background-position-y: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #111111;
    width: 199px;
    margin-bottom: 1px;
    padding: 20px 0px 21px 53px;
}

.right-navbar a:hover {
    background-color: rgb(241, 99, 66);
    transition: 0.5s;
}

.orange-bg {
    background-color: rgb(241, 99, 66) !important;
}

.orange-bg:hover {
    background-color: black !important;
}

/* Featured Projects Section */
.featured-project-margin {
    margin-top: 190px;
    margin-bottom: 80px;
}

.featured-project-ul {
    display: inline;
    margin: 0;
    padding: 0;
}

.featured-project-ul li {
    display: inline;
    padding-left: 26px;
    list-style-type: none;
}

.project-style {
    border-bottom: 1px solid #8f8f8f;
    display: inline;
    padding-bottom: 11px;

}

.project-style h3 {
    display: inline;
    text-transform: uppercase;
}

.project-style a {
    display: inline-block;
    color: #8f8f8f;
    width: 158px;
    text-align: end;
    padding-bottom: 11px;
}

.residential {
    display: inline-block;
    background: url(picture/residential.png)no-repeat;
    background-size: 55px;
    background-position-x: 0px;
    background-position-y: 6px;
    height: 33px;
    width: 27px;
    margin-right: 10px;

}

.commercial {
    display: inline-block;
    background: url(picture/commercial.png)no-repeat;
    background-size: 55px;
    background-position-x: -28px;
    background-position-y: 10px;
    height: 33px;
    width: 27px;
    margin-right: 10px;

}

.hover-commercial {
    border-left: 1px solid #8f8f8f;
}

.hover-residential:hover .residential {
    background-position-x: -28px !important;
    transition: .5s;
}

.hover-commercial:hover .commercial {
    background-position-x: 0px !important;
    transition: .5s;

}

.text-green {
    text-transform: uppercase;
}

.text-green:hover {
    color: #36cecf;
    transition: .5s;
    text-transform: uppercase;
}

/* four cards */
.cards-bottom-margin {
    margin-bottom: 80px;

}

.card {
    float: left;
    width: 25%;
    padding: 0 5px;
    position: relative;
    overflow: hidden;

}

.neg-margin {
    margin: 0 -5px;
}

.card-description {
    position: absolute;
    text-align: center;
    background-color: #f8f8f8c7;
    width: 97%;
}

.card-description h2 {
    margin-top: 14px;
    margin-bottom: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

.card-description div {
    margin-top: 14px;
    margin-bottom: 9px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    font-style: italic;
}

.card img {
    min-height: 384px;
    width: 100%;
}

.card-arrow {
    background: url(picture/card-arrow.png)no-repeat;
    background-size: 20px;
    width: 20px;
    height: 21px;
    position: absolute;
    top: 71px;
    left: 24px;
}

.search-icon {
    width: 85px;
    height: 85px;
    background-color: #FFFFFF;
    border-radius: 50px;
    position: absolute;
    left: 106px;
    top: 153px;
}

.search-icon i {
    font-size: 63px;
    padding: 9px 0 0 0px;
    color: #36ced0;
}

.explore-hover {
    background-color: #36ced0;
    text-align: center;
    min-height: 384px;
    position: absolute;
    top: 0;
    width: 97%;
}

.explore {
    position: relative;
    top: 252px;
    left: 2px;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
}

.explore-hover {
    display: none;
}

.card:hover .explore-hover {
    display: block;
    opacity: 0.8;
}

.card:hover .card-description {
    display: none;
}

/* About Us */
.about-us-bottom-margin {
    margin-bottom: 146px;
}

.about-us-heading {
    text-transform: capitalize;

}

.about-us-left {
    float: left;
    width: 65%;
    padding-right: 36px;
}

.about-us-right {
    float: left;
    width: 35%;
    border-left: 6px solid #dddddd;
    padding-left: 27px;
}

.about-us-right h4 {
    text-transform: capitalize;
}

.about-us-image {
    float: left;
    width: 40%;
}

.about-us-image img {
    width: 292px;
}

.about-us-top-description {
    float: left;
    width: 60%;
}

.top-description-font-size {
    font-size: 31px;
    margin-left: 24px;
}

.bottom-description {
    font-size: 17px;
    display: inline-block;
}

.small-text {
    padding: 22px 0 32px 0;
    color: #38cdcc;
    font-size: 20px;
    margin-left: 24px;
}

.about-us-right span {
    color: #38cdcc;
    font-size: large;
    cursor: pointer;
}

.about-us-arrow {
    width: 10px;
    position: relative;
    right: 7%;
    bottom: -42px;
}

/* footer */
.footer-background {
    background: url(picture/footer-image.png);
    min-height: 354px;
}

.footer-background h3 {
    text-transform: capitalize;
    margin: 51px 0px 42px 0px;
    color: #FFFFFF;
}

.footer-testimonial {
    float: left;
    width: 30%;
    padding-right: 41px;
    position: relative;
}

.testimonial-author {
    padding: 10px 0px;
    color: #FFFFFF;
}
.word-break{
    word-break: break-all;
    font-size: 17px;
}
.footer-line {
    position: relative;
    bottom: 3px;
    width: 231px;
    left: -44px;
}

.arrow-sprite {
    position: absolute;
    right: 46px;
    top: 284px;
}

.arrow-sprite .left {
    background: url(picture/left-right.jpg)no-repeat;
    background-position-y: -1px;
    background-position-x: -2px;
}

.arrow-sprite .right {
    background: url(picture/left-right.jpg)no-repeat;
    background-position-x: -32px;
}

.arrow-sprite div {
    display: inline-block;
    width: 22px;
    background-color: antiquewhite;
    height: 22px;
    border-radius: 50px;
}

.footer-quicklink {
    float: left;
    width: 20%;
    position: relative;
}

.footer-quicklink img {
    position: absolute;
    right: 97px;
    top: 44px;
}

.footer-quicklink ul {
    margin: 0;
    padding: 0 0 0 12px;
}

.footer-quicklink li {
    list-style-image: url('picture/a.png');
    margin: 0 0 11px 0;
}

.footer-quicklink a {
    text-transform: capitalize;
    display: inline-block;
}

.footer-quicklink a:hover {
    color: #FFFFFF !important;
    transition: 0.5s;

}


.footer-address {
    float: left;
    width: 20%;
    position: relative;
}

.footer-address img {
    position: absolute;
    right: 97px;
    top: 44px;
}

.footer-address-bold-title {
    font-weight: 600;

}

.footer-address div {
    margin-bottom: 13px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.footer-contact-details ul {
    padding: 0;
    margin: 0;
}

.footer-contact-details li {
    list-style-type: none;
}

.footer-contact-details a {
    color: #8f8f8f;
    display: inline-block;
}

.footer-subscribe {
    float: left;
    width: 30%;
    padding-left: 70px;
}

.footer-subscribe input {
    padding: 12px 85px 12px 12px;
    margin-bottom: 9px;
    border: none;
}

.footer-subscribe button {
    background-color: #38cdcc;
    padding: 8px 10px;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.footer-subscribe h4 {
    margin: 34px 0 8px 0;
    text-transform: capitalize;
    font-size: 17px;
    color: #ffffff;

}

.socials div {
    display: inline-block;
    background-color: aquamarine;
    width: 32px;
    height: 32px;
}

.socials ul {
    padding: 0;
    margin: 0;
    display: inline;
}

.socials li {
    list-style-type: none;
    display: inline;
}

.socials a {
    display: inline-block;
}

.facebook {
    background: url(picture/facebook-icon.png)no-repeat;
    background-position-x: -32px;

}

.facebook:hover {
    background-position-x: 0px;
    transition: 0.5s;
}

.twitter {
    background: url(picture/twitter-icon.png)no-repeat;
    background-position-x: -32px;

}

.twitter:hover {
    background-position-x: 0px;
    transition: 0.5s;
}

.linkedin {
    background: url(picture/linked-in-icon.png)no-repeat;
    background-position-x: -32px;

}

.linkedin:hover {
    background-position-x: 0px;
    transition: 0.5s;
}

.email {
    background: url(picture/mail-icon.png)no-repeat;
    background-position-x: -32px;

}

.email:hover {
    background-position-x: 0px;
    transition: 0.5s;
}

.edit {
    background: url(picture/edit-icon.png)no-repeat;
    background-position-x: -32px;

}

.edit:hover {
    background-position-x: 0px;
    transition: 0.5s;
}

